.p-pink {
  background-color: #d07272 !important;
}
.p-pink-light-1 {
  background-color: #e18383 !important;
}
.p-pink-light-2 {
  background-color: #f29494 !important;
}
.p-pink-dark-1 {
  background-color: #be6161 !important;
}
.p-pink-dark-2 {
  background-color: #ad5050 !important;
}
.p-blue {
  background-color: #25667f !important;
}
.p-blue-light-1 {
  background-color: #367790 !important;
}
.p-blue-light-2 {
  background-color: #4788a1 !important;
}
.p-blue-dark-1 {
  background-color: #14556e !important;
}
.p-blue-dark-2 {
  background-color: #05445d !important;
}
.p-grey {
  background-color: #013533 !important;
}
.p-grey-light-1 {
  background-color: #124644 !important;
}
.p-grey-light-2 {
  background-color: #235755 !important;
}
.p-yellow {
  background-color: #edb901 !important;
}
.p-yellow-light-1 {
  background-color: #feca12 !important;
}
.p-yellow-light-2 {
  background-color: #ffdb34 !important;
}
.p-yellow-dark-1 {
  background-color: #dca800 !important;
}
.p-yellow-dark-2 {
  background-color: #cb9700 !important;
}
.p-orange {
  background-color: #cf4e28 !important;
}
.p-orange-light-1 {
  background-color: #e05f39 !important;
}
.p-orange-light-2 {
  background-color: #f1704a !important;
}
.p-orange-dark-1 {
  background-color: #be3d17 !important;
}
.p-orange-dark-2 {
  background-color: #ad2c06 !important;
}
.p-pink-text {
  color: #d07272 !important;
}
.p-pink-light-1-text {
  color: #e18383 !important;
}
.p-pink-light-2-text {
  color: #f29494 !important;
}
.p-pink-dark-1-text {
  color: #be6161 !important;
}
.p-pink-dark-2-text {
  color: #ad5050 !important;
}
.p-blue-text {
  color: #25667f !important;
}
.p-blue-light-1-text {
  color: #367790 !important;
}
.p-blue-light-2-text {
  color: #4788a1 !important;
}
.p-blue-dark-1-text {
  color: #14556e !important;
}
.p-blue-dark-2-text {
  color: #05445d !important;
}
.p-grey-text {
  color: #013533 !important;
}
.p-grey-light-1-text {
  color: #124644 !important;
}
.p-grey-light-2-text {
  color: #235755 !important;
}
.p-yellow-text {
  color: #edb901 !important;
}
.p-yellow-light-1-text {
  color: #feca12 !important;
}
.p-yellow-light-2-text {
  color: #ffdb34 !important;
}
.p-yellow-dark-1-text {
  color: #dca800 !important;
}
.p-yellow-dark-2-text {
  color: #cb9700 !important;
}
.p-orange-text {
  color: #cf4e28 !important;
}
.p-orange-light-1-text {
  color: #e05f39 !important;
}
.p-orange-light-2-text {
  color: #f1704a !important;
}
.p-orange-dark-1-text {
  color: #be3d17 !important;
}
.p-orange-dark-2-text {
  color: #ad2c06 !important;
}
.btn:hover,
.btn-large:hover {
  filter: brightness(110%);
}
#cta {
  background-image: url(../img/cta-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.navbar-fixed {
  height: 2.5rem;
}
