#cta {
  background-color: #013533;
  background-image: url(../img/cta-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar-fixed {
  height: 2.5rem;
}
